/* 
Style indices Note 
-
primary: #161616
light: #f0f0f0 
*/

html,
body {
  font-family: "Roboto Condensed", sans-serif;
  color: #161616;
  scroll-behavior: smooth;
}

a {
  color: #5d0000;
}

a:hover,
a:active {
  color: #440000;
}

.header-wrapper {
  height: 90vh;
  width: 100%;
  background: linear-gradient(
      to bottom,
      rgba(22, 22, 22, 0.1) 0,
      rgba(22, 22, 22, 0.9) 45%,
      #161616
    ),
    url(../assets/bg-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.header-wrapper > .container,
.header-wrapper > .container > .row,
.profile-wrapper > .container,
.profile-wrapper > .container > .row {
  height: inherit;
}

.navbar-brand > img {
  height: 45px;
}

.navbar {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.header-content {
  color: #f0f0f0;
  text-align: center;
}

.header-content > .display-4 {
  margin-bottom: 1rem;
}

.header-content > .h3 {
  margin-bottom: 2rem;
}

.profile-wrapper {
  height: 800px;
  background-color: #161616;
  color: #f0f0f0;
}

.profile-content {
  margin-top: 4rem;
}

.capstone-section {
  margin: 5rem auto;
}

.capstone-section img {
  width: 90%;
  border-radius: 5px;
  box-shadow: 2px 0px 14px #000000bd;
}

.other-projects {
  margin: 10rem auto;
}

.other-projects > .h2 {
  margin: 1rem;
}

.project-showcase-left-menu {
  background-color: #161616;
  padding: 5rem 0.5rem 5rem 0.5rem;
  height: 900px;
  color: #f0f0f0;
  border-radius: 10px;
}

.bu-course {
  height: 100px;
  display: flex;
  padding-left: 1em;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.bu-course:hover {
  background-color: #000;
  font-size: 1.05rem;
}

.bu-course.active {
  font-size: 1.05rem;
  background-color: #000;
}

.secondary-text {
  font-size: 0.8em;
}

.other-projects .dash {
  width: calc(100% - 100px);
  height: 900px;
  overflow: auto;
}

footer {
  height: 800px;
  color: #f0f0f0;
  background: linear-gradient(
      to bottom,
      rgba(22, 22, 22, 0.1) 0,
      rgba(22, 22, 22, 0.5) 75%,
      #161616 100%
    ),
    url(../assets/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.socials {
  padding-top: 20px;
}

.social-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  border-radius: 25px;
  background-color: #161616;
  margin-left: 5px;
  color: #f0f0f0;

  cursor: pointer;
}

.social-header:hover {
  background-color: #000;
  color: white;
}

.location-contact {
  background-color: white;
  height: 250px;
  color: #5d0000;
  border-bottom: 5px solid #5d0000;
  padding: 65px 0;
}

.horizontal-line {
  width: 50px;
  height: 2px;
  margin: 15px auto;
  background-color: #5d0000;
}

.dash > .container {
  padding: 2rem 1rem 0;
}

.course-content {
  display: none;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 2em;
  font-weight: 700;
}

.card {
  margin-bottom: 3em;
  border-radius: 5px;
  max-height: 270px;
  overflow: hidden;
}

.card:hover {
  box-shadow: 2px -3px 12px #16161687;
  border: none;
}

.card-img-overlay {
  background-image: linear-gradient(#444 0, transparent 25%);
}
.card-text.main {
  font-size: 0.9em;
  font-weight: 700;
  color: white;
}

.other-projects .menu {
  width: 100px;
}

.bu-course-container > .secondary-text {
  display: none;
}

.card-img {
}

@media (min-width: 992px) {
  .other-projects .menu {
    width: 300px;
  }
  .bu-course-container > .secondary-text {
    display: block;
  }

  .other-projects .dash {
    width: calc(100% - 300px);
  }
}
